:root {
  --border-color: rgba(255, 255, 255, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #f7d0c7;
}

#tick-btn {
  display: block;
  margin: 24px 0;
}

#container {
  background-color: rgba(255, 255, 255, 0.15);
  display: inline-flex;
  flex-flow: column nowrap;
}

.row {
  align-items: center;
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-flow: row nowrap;
  height: 24px;
  justify-content: center;
}

.row:last-child {
  border-bottom: 1px solid var(--border-color);
}

.cell {
  border-left: 1px solid var(--border-color);
  display: inline-block;
  height: inherit;
  width: 24px;
}

.cell:last-child {
  border-right: 1px solid var(--border-color);
}

.cell::after {
  line-height: 24px;
}

.gen-1::after {
  content: "🌱";
}

.gen-2::after {
  content: "🌿";
}

.gen-3::after {
  content: "🌸";
}

.gen-4::after {
  content: "🌷";
}

.gen-5::after {
  content: "🌺";
}

.gen-6::after {
  content: "🌳";
}
